.comment-box {
  width: 1000px;
  max-width: calc(100% - 80px); 
}

@media (max-width: 1100px) {
  .comment-box {
    width: 800px;
  }
}

@media (max-width: 900px) {
  .comment-box {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .comment-box {
    width: 100%;
  }
}
.smaller-reply-box {
  max-width: 90%;
  margin-left: 10%;
}

.replies-container {
  padding-left: 20px;
  border-left: 1px solid #444;
}